{% extends 'base.html' %}
{% block title %}Donante{% endblock %}
{% block contenido %}
<div>

	<div class="titulo">
		<p >Donante - <a href="#dlg-elm" id="lnk-elm"><i class="icon-bin2"></i></a></p>
	</div>

	<p class="msj">{{msj}}</p>

	<form action="" method="POST">{% csrf_token %}
		<p>Nombres:</p>
		<p><input type="text" name="nombres" required="true" value="{{objeto.nombres}}"></p>
		<p>Apellidos:</p>
		<p><input type="text" name="apellidos" required="true" value="{{objeto.apellidos}}"></p>
		<p>Identificación:</p>
		<p><input type="text" name="identificacion" required="true" value="{{objeto.identificacion}}"></p>
		<hr>
		<p>
			<input type="submit" value="Modificar">
			<input type="reset" value="Cancelar">
		</p>
	</form>

	{% include 'dlg-eliminar.html' %}

</div>
{% endblock %}